{{ define "main" -}}
{{ .Content }}
<div id="home-splash-wrapper">
	<div id="home-splash">
		<h1>{{ .Title }}</h1>
		<div id="home-splash-content">
			<div class="img-full-round">
			    {{ $image := resources.Get "headshot.jpg" }}
			    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
			</div>
			<div id="resource-list">
				<ul>
					{{ range site.Sections }}
					<li>
						<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</div>
{{- end}}
